#footer {
  font-size: 13px;
  line-height: 24px;
  padding: 30px 0;
  p {
    margin-top: 30px;
    a {
      color: $footer-color1;
    }
  }
  ul#social li {
    display: inline-block;
    float: left;
    a {
      display: block;
      padding: 30px 40px 30px 0;
    }
  }
}

@media screen and (max-width: 767px) {
  #footer ul#social {
    margin-top: 30px;
    li {
      display: block;
      float: none;
      a {
        display: block;
        padding: 20px 0;
        border-top: 1px solid $footer-color2;
      }
    }
  }
}
