<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="{{ site.locale }}"> <!--<![endif]-->
<head>
	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
	{% seo %}
	<title>
    {% if page.title %} {{ page.title }}
    {% else %} {{ site.title }}
    {% endif %}
  </title>
	<meta name="description" content="{{ site.description }}">
	<meta name="author" content="{{ site.author }}">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- <link rel="stylesheet" type="text/css" href="{{ "/assets/css/cssreset-min.css" | prepend: site.baseurl }}"> -->
	<!-- <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}"> -->
	<!-- <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}"> -->
	<!-- <link rel="stylesheet" href="{{ "/assets/css/typegrid.css" | prepend: site.baseurl }}"> -->
	<!--[if lt IE 8]>
		<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script>
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="shortcut icon" href="{{ "/assets/images/default/favicon.ico" | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" href="{{ "/assets/images/default/apple-touch-icon.png" | prepend: site.baseurl }}">

	{% include /analytics-providers/analytics.html %}

</head>
