<div class="logo-wrap">
  <div class="container">
    <div class="desktop-6 columns">
      <h1><a href="{{ site.baseurl }}/" title="Home"><img src="{{ site.logo | prepend: site.baseurl }}" alt="" /></a></h1>
    </div><!-- // .desktop-6 -->
    <div class="desktop-6 columns">
      <p class="site-desc">
        {{ site.author }}<br />
        <span class="font-color-primary">{{ site.tagline }}</span>
      </p><!-- // .site-desc -->
    </div><!-- // .desktop-6 -->
    <div class="clear"></div>
  </div><!-- // .container -->
</div><!-- // .logo-wrap -->
<div class="clear"></div>
