---
layout: blog
title: Blog
---
<section id="works" class="stackgrid images-only">
{% for post in paginator.posts %}
		<div class="item">
			<a href="{{ post.url }}" class="permalink">
				<div class="remove-line-height">
					<img src="{{ post.image | prepend: site.baseurl }}" alt="" />
				</div><!-- // .remove-line-height -->
				<div class="box-desc">
					<h3>{{ post.title }}</h3>
					<span class="category">{{ post.category }}</span>
				</div><!-- // .box-desc -->
			</a>
		</div><!-- // .item -->
{% endfor %}
	<div class="clear"></div>
	{% include paginate.html %}
</section><!-- // section#works -->
