---
layout: default
---
<!-- Shop (Single Item)
================================================== -->
<section id="shop" class="shop-item cart-item">
	<div class="container">
		<div class="desktop-6 tablet-12 columns">
			{% for item in page.item_images %}
				<img src="{{ item.item_image | prepend: site.baseurl }}" alt="">
			{% endfor %}
		</div><!-- // .desktop-6 -->
		<div class="desktop-6 nested tablet-12 columns">
			<div class="sidebar sticky">
			<div class="desktop-3 tablet-8 columns">
				<h2 class="border-top item-name">{{ page.name }}<span class="item-price"> ${{ page.price }}</span></h2>
				<p>{{ page.item_description }}</p>
				<!-- <p><a href="#" class="button full">Add to Cart</a></p> -->
					<div class="clear"></div>
				<div>{% include /footer/js_paypalcart.html %}</div>
			</div><!-- // .desktop-3 -->
			<div class="desktop-3 tablet-12 columns">
				<div class="sidebar sticky">
					<div class="shop-info">
						<h2 class="border-top">{{ site.shopname }}</h2>
						<img src="{{ site.shoplogo }}" alt="" />
						<p>{{ site.shopdescription }}</p>
					</div><!-- // .shop-info -->
				</div><!-- // .sidebar -->
			</div><!-- // .desktop-3 -->
		</div>
	<div class="clear"></div>
	</div><!-- // .container -->
</section><!-- // section#shop -->
